language: go
go:
  - 1.12.x
  - 1.11.x
  - 1.10.x
  - master

matrix:
 fast_finish: true
 allow_failures:
   - go: master

go_import_path: gonum.org/v1/hdf5

sudo: false

addons:
  apt:
    packages:
      - libhdf5-serial-dev

env:
  global:
    - GODEBUG=cgocheck=0

notifications:
  email:
    recipients:
      - binet@cern.ch
    on_success: change
    on_failure: always

script:
 - go get -d -t -v ./...
 - go install -v ./...
 - go test -v ./...

